
.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.layoutOffSidebar {
    display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    "header header"
    "main main";
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* Header */
.header {
  grid-area: header;
  color: white;
  padding: 0 20px;
  gap: 20px;
  font-weight: bold;
  position: relative;
  top: 0;
  width: 100%;
}

/* Sidebar */
.sidebar {
  grid-area: sidebar;
  color: white;
  height: 100vh;
  
}



.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar li {
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar li:hover {
  background: #1a2226;
}


.dark {
    background-color: white;
}

.light {
    background-color: white;
}


/* Main */
.main {
  grid-area: main;
  padding: 20px 100px;
  overflow-y: auto;
  height: 100vh;
}