.visiblePendaftaran {
   height: 50px;
    padding: 8px; /* Padding ada saat muncul */
    color: #6a7282;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  
}

.hiddenPendaftaran {
    height: 0;
    padding-top: 0;    /* Penting: Nol-kan padding agar benar-benar hilang */
    padding-bottom: 0;
    transition: all 0.5s ease-in-out;       /* Opsional: Tambahkan efek pudar agar lebih halus */
    border: 0;
    overflow: hidden;

}
.visiblePasien {
   height: 50px;
    padding: 8px; /* Padding ada saat muncul */
    color: #6a7282;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  
}

.hiddenPasien {
    height: 0;
    padding-top: 0;    /* Penting: Nol-kan padding agar benar-benar hilang */
    padding-bottom: 0;
    transition: all 0.5s ease-in-out;       /* Opsional: Tambahkan efek pudar agar lebih halus */
    border: 0;
    overflow: hidden;

}


.visibleFarmasi {
   height: 40px;
    padding: 8px; /* Padding ada saat muncul */
    color: #6a7282;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  
}

.hiddenFarmasi {
    height: 0;
    padding-top: 0;    /* Penting: Nol-kan padding agar benar-benar hilang */
    padding-bottom: 0;
    transition: all 0.5s ease-in-out;       /* Opsional: Tambahkan efek pudar agar lebih halus */
    border: 0;
    overflow: hidden;

}

.visibleKeuangan {
   height: 40px;
    padding: 8px; /* Padding ada saat muncul */
    color: #6a7282;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
  
}

.hiddenKeuangan {
    height: 0;
    padding-top: 0;    /* Penting: Nol-kan padding agar benar-benar hilang */
    padding-bottom: 0;
    transition: all 0.5s ease-in-out;       /* Opsional: Tambahkan efek pudar agar lebih halus */
    border: 0;
    overflow: hidden;

}



